{% extends 'base.html' %}
{% load static %}

{% block title %}日記作成 | Private Diary{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}
<div class="container my-5">
    <div class="row">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
                {{ object.name }}
                <tr>
                    <th>アイテム名:</th>
                    <td>
                        <!-- <p><input class="form-control" type="text" name="item_list"></p> -->
                        <span id="items"></span>
                        <p>
                            <button class="btn btn-primary" type="button" id="item_add">追加</button>
                            <button class="btn btn-primary" type="button" id="item_del">削除</button>
                        </p>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" type="submit">作成</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function create_item_from(num) {
        var tag = document.createElement('p');
        tag.setAttribute('id', 'item_' + num);

        var text_form = document.createElement('input');
        text_form.setAttribute('type', 'text');
        text_form.setAttribute('name', 'item_list');
        text_form.setAttribute('class', 'form-control');

        tag.appendChild(text_form);
        return tag;
    }

    var num = 0;
    const add = document.getElementById("item_add");
    const del = document.getElementById("item_del");
    del.disabled = true;

    const items = document.getElementById("items");
    items.appendChild(create_item_from(num));

    add.addEventListener("click", function(){
        num++;
        items.appendChild(create_item_from(num));
        if (del.disabled == true) del.disabled = false;
    });

    del.addEventListener("click", function(){
        document.getElementById('item_' + num).remove();
        num--;
        if (num <= 0) del.disabled = true;
    });
</script>
{% endblock %}