{% extends 'base.html' %}

{% block contents %}

<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-3">
            <div class="row">
                <div class="d-grid mb-5">
                    <h2><u>ホスト変更</u></h2>
                </div>
                <div class="col-6">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="lead fw-normal text-muted" style="font-size: 15px;">新しいホストを選択</label>
                            <select name="new_host" id="new_host" class="form-select">
                                {% if group_members %}
                                    {% for member in group_members %}
                                        <option value="{{ member.id }}">{{ member.user.username }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="">他のユーザーが見つかりません</option>
                                {% endif %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success">ホストを変更</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-grid">
            <button class="btn btn-lg btn-2">
                <a class="nav-link" href="{% url 'tracker:group_detail' group.id %}">グループ詳細に戻る</a>
            </button>
        </div>
    </div>
</section>

{% endblock %}
