{% extends 'base.html' %}

{% block title %}History Detail{% endblock %}

{% block contents %}
<h2>履歴詳細</h2>


<div class="container my-5">
    <div class="row">
        <div class="col-8" style="position: relative;">
            <div class="col-3 col-lg-2">
                <strong>写真</strong>
            </div>
            <div class="col-9 col-lg-10">
                <img id="image" src="{{ history.image.url }}" style="display: none;"/>
            </div>
        </div>
        <div class="col" id="check_list" style="overflow-y: scroll;">
            <div>
                <strong>アイテム一覧</strong>
            </div>
            <div><strong>「0: '無し', 1: '有り'」</div></strong>
            <div class="col-9 col-lg-10">
                {% for result in history.result_set.all %}
                    {% if result.result_class != 9 %}
                        <li>
                            {{ result.item.item_name }}　[詳細結果: {{ result.result_class }}]
                        </li>
                    {% endif %}
                {% empty %}
                    <p>履歴が存在しません</p>
                {% endfor %}
            </div>
        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-3 col-lg-2">
            <strong>グループ</strong>
        </div>
        <div class="col-9 col-lg-10">
            {{ history.group.group_name }}
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-3 col-lg-2">
            <strong>ユーザー</strong>
        </div>
        <div class="col-9 col-lg-10">
            {{ history.user.username }}
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-3 col-lg-2">
            <strong>管理名</strong>
        </div>
        <div class="col-9 col-lg-10">
            {{ history.asset.asset_name }}
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-3">
            <strong>確認日時</strong>
        </div> <div class="col-9">
            {{ history.checked_at }}
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col-3">
            <strong>更新日時</strong>
        </div>
        <div class="col-9">
            {{ history.updated_at }}
        </div>
    </div>
</div>

<a class="btn btn-primary float-right" href="{% url 'tracker:history_list' %}">履歴一覧に戻る</a>

{% endblock %}


