{% extends 'base.html' %}
{% load static %}

{% block title %}アイテムチェック | toolkeeper{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}
<div class="container my-5">
    <!-- <input class="btn-check" type="radio" id="test0" name="test"><label class="btn btn-outline-primary" for="test0">test0</label>
    <input class="btn-check" type="radio" id="test1" name="test"><label class="btn btn-outline-primary" for="test1">test1</label> -->
        
    <div class="row">
        <div class="col-8" style="position: relative;">
            <div id="preview" style="width: 100%; height: auto;">
                <canvas id="canvas" style="width: 100%; height: auto;"></canvas>
                <img id="image" src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" style="display: none;"/>
                <span id="create" style="display: none;">{{ create }}</span>
                {% for result in results %}
                    {% if forloop.first %}
                        <span id="item_box" style="display: none;">{{ results|length }}</span>
                        <span id="box_x_min" style="display: none;">{{ result.box_x_min }}</span>
                        <span id="box_y_min" style="display: none;">{{ result.box_y_min }}</span>
                        <span id="box_x_max" style="display: none;">{{ result.box_x_max }}</span>
                        <span id="box_y_max" style="display: none;">{{ result.box_y_max }}</span>
                        <span id="model_check" style="display: none;">{{ result.model_check }}</span>
                    {% else %}
                        <span id="item_{{ forloop.counter0 }}_x_min" style="display: none;">{{ result.box_x_min }}</span>
                        <span id="item_{{ forloop.counter0 }}_y_min" style="display: none;">{{ result.box_y_min }}</span>
                        <span id="item_{{ forloop.counter0 }}_x_max" style="display: none;">{{ result.box_x_max }}</span>
                        <span id="item_{{ forloop.counter0 }}_y_max" style="display: none;">{{ result.box_y_max }}</span>
                        <span id="item_{{ forloop.counter0 }}_conf" style="display: none;">{{ result.conf }}</span>
                    {% endif %}
                {% endfor %}
                <span id="threshold_conf" style="display: none;">{{ threshold_conf }}</span>
            </div>
        </div>
        <div class="col-4" id="check_list" style="overflow-y: scroll;">
            {% include 'common_history_add.html' %}
            
            <!-- <div class="row my-5">ダミー</div> -->
        </div>
    </div>

    <hr>

    <!-- <div style="margin: 0 16px;">
        (x_min, y_min, x_max, y_max) = (<span id="box"></span>)
    </div>

    <hr> -->


    <!-- <hr> -->
    <label class="my-3" for="finish">
        <input class="form-check-input" type="checkbox" id="finish" onclick="submit_check(finish.checked);"> 終了する
    </label>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" id="submit" disabled>終了する</button>
        <table class="table">
            {{ result_add_form.as_table }}
        </table>
    </form>
</div>
{% endblock %}


{% block js %}
<script>// キャンバスとコンテキストを取得
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");
    const image = document.getElementById("image");

    const check = document.getElementsByName("check");
    const checked = document.getElementsByName("checked");
    const set = document.getElementsByName("set");
    const box_in = document.getElementsByName("box");
    const box = document.getElementById("box");
    const finish = document.getElementById("finish");
    const submit = document.getElementById("submit");
    const box_list = document.getElementById("box_list");
    const create = document.getElementById("create").innerText;

    const check_list = document.getElementById("check_list");

    const box_x_min = Number(document.getElementById("box_x_min").innerText);
    const box_y_min = Number(document.getElementById("box_y_min").innerText);
    const box_x_max = Number(document.getElementById("box_x_max").innerText);
    const box_y_max = Number(document.getElementById("box_y_max").innerText);
    
    const item_box = Number(document.getElementById("item_box").innerText);
    const model_check = document.getElementById("model_check").innerText;

    const threshold_conf = Number(document.getElementById("threshold_conf").innerText);
    
    const preview = document.getElementById("preview");

    // 描画状態を管理するフラグと座標を初期化
    let isDrawing = false;
    let startX, startY, width, height;

    const x_fix = box_x_max - box_x_min;
    const y_fix = box_y_max - box_y_min;

    canvas.width = x_fix;
    canvas.height = y_fix;

    let x_fit = canvas.width / x_fix;
    let y_fit = canvas.height / y_fix;

    let x_min_fit = box_x_min;
    let y_min_fit = box_y_min;


    // バウンディングボックスの座標を初期化
    let x_min, x_max, y_min, y_max;
    let box_li = [];
    for (let i = 0; i < set.length; i++) {
        if (item_box >= 2 && document.getElementById(`item_${i+1}_x_min`).innerText != "None") {
            box_li[i] = [
                Number(document.getElementById(`item_${i+1}_x_min`).innerText) - box_x_min,
                Number(document.getElementById(`item_${i+1}_y_min`).innerText) - box_y_min,
                Number(document.getElementById(`item_${i+1}_x_max`).innerText) - box_x_min,
                Number(document.getElementById(`item_${i+1}_y_max`).innerText) - box_y_min,
                Number(document.getElementById(`item_${i+1}_conf`).innerText),
            ];
            if (model_check == "False") {
                box_li[i][4] = threshold_conf;
                document.getElementById(`id_form-${i}-result_class`).value = 1;
            } else document.getElementById(`id_form-${i}-result_class`).value = 2;

            if (box_li[i][4] > threshold_conf) {
                document.getElementById(`id_form-${i}-box_x_min`).value = box_li[i][0] + box_x_min;
                document.getElementById(`id_form-${i}-box_y_min`).value = box_li[i][1] + box_y_min;
                document.getElementById(`id_form-${i}-box_x_max`).value = box_li[i][2] + box_x_min;
                document.getElementById(`id_form-${i}-box_y_max`).value = box_li[i][3] + box_y_min;
                
                if (create == 0) document.getElementById(`id_form-${i}-result_class`).value = 2;

                // check[i].checked = true;
                // checked[i].innerText = "チェック済み";
            }
            check[i].disabled = false;
            box_in[i].disabled = false;
            box_in[i].checked = true;
            // console.log(document.getElementById(`item_${i+1}_x_min`).innerText);
        } else {
            box_li[i] = [0,0,0,0,0];
            if (create == 0) document.getElementById(`id_form-${i}-result_class`).value = 0;
        }
    }

    // キャンバスのサイズを画像のサイズに設定
    // canvas.width = image.width;
    // canvas.height = image.height;
    
    
    
    function auto_set_box(i) {
        if (!box_li[i][4]) return;
        let w = x_fix / canvas.width;
        let h = y_fix / canvas.height;
        
        document.getElementById(`id_form-${i}-box_x_min`).value = (box_li[i][0] * w) + box_x_min;
        document.getElementById(`id_form-${i}-box_y_min`).value = (box_li[i][1] * h) + box_y_min;
        document.getElementById(`id_form-${i}-box_x_max`).value = (box_li[i][2] * w) + box_x_min;
        document.getElementById(`id_form-${i}-box_y_max`).value = (box_li[i][3] * h) + box_y_min;

        box_in[i].disabled = false;
        box_in[i].checked = true;
    }

    function auto_fit() {
        if (canvas.width != preview.getBoundingClientRect().width.toFixed()) {
            console.log("tttt");
            // set = false;

            for (let i = 0; i < set.length; i++) {
                box_li[i][0] *= preview.getBoundingClientRect().width / canvas.width;
                box_li[i][1] *= preview.getBoundingClientRect().height / canvas.height;
                box_li[i][2] *= preview.getBoundingClientRect().width / canvas.width;
                box_li[i][3] *= preview.getBoundingClientRect().height / canvas.height;
                console.log(box_li[i]);
            }

            canvas.width = preview.getBoundingClientRect().width.toFixed();
            canvas.height = canvas.width * (y_fix / x_fix);

            x_fit = canvas.width / x_fix;
            y_fit = canvas.height / y_fix;

            x_min_fit = box_x_min * x_fit;
            y_min_fit = box_y_min * y_fit;
            
            check_list.style = `overflow-y: scroll; height: ${canvas.height};`;
            ctx.drawImage(image, box_x_min, box_y_min, x_fix, y_fix, x_min_fit, y_min_fit, canvas.width, canvas.height,);
        }

        console.log(`preview.width:  ${preview.getBoundingClientRect().width} px`);
        console.log(`preview.height: ${preview.getBoundingClientRect().height} px`);
        console.log(`canvas.width:  ${canvas.width} px`);
        console.log(`canvas.height: ${canvas.height} px`);
        console.log(`x_min_fit: ${x_min_fit.toFixed()} px`);
        console.log(`y_min_fit: ${y_min_fit.toFixed()} px`);
        console.log(`x_max_fit: ${(x_min_fit + canvas.width).toFixed()} px`);
        console.log(`y_max_fit: ${(y_min_fit + canvas.height).toFixed()} px`);
        
    };

    // 選択済みのバウンディングボックスを描画
    function draw_box(order) {

        // キャンバスをクリアして画像を再描画
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(image, box_x_min, box_y_min, x_fix, y_fix, 0, 0, canvas.width, canvas.height,);

        // ctx.strokeStyle = "blue"; // 青い線で描画
        
        for (let i = 0; i < set.length; i++) {
            if (i == order) ctx.lineWidth = 2;
            else ctx.lineWidth = 1;
            
            if (box_li[i][4] > threshold_conf) ctx.strokeStyle = "blue"; // 青い線で描画
            else if (box_li[i][4] > 0) ctx.strokeStyle = "orange"; // 青い線で描画
            else ctx.strokeStyle = "red"; // 青い線で描画

            if (checked[i].innerText == "チェック済み") {
                ctx.strokeStyle = `rgb(
                    0,
                    220,
                    50
                )`;
            }

            ctx.strokeRect(
                box_li[i][0],
                box_li[i][1],
                box_li[i][2] - box_li[i][0],
                box_li[i][3] - box_li[i][1],
            );
        }
    };

    // 画像の読み込みが完了したらキャンバスに描画
    image.onload = () => {

        const x_fix = box_x_max - box_x_min;
        const y_fix = box_y_max - box_y_min;

        canvas.width = preview.getBoundingClientRect().width.toFixed();
        canvas.height = canvas.width * (y_fix / x_fix);

        let x_fit = canvas.width / x_fix;
        let y_fit = canvas.height / y_fix;

        let x_min_fit = box_x_min * x_fit;
        let y_min_fit = box_y_min * y_fit;

        check_list.style = `overflow-y: scroll; height: ${canvas.height};`;

        for (let i = 0; i < set.length; i++) {
            if (item_box >= 2 && document.getElementById(`item_${i+1}_x_min`).innerText != "None") {
                console.log(box_li[i]);

                box_li[i][0] *= x_fit;
                box_li[i][1] *= y_fit;
                box_li[i][2] *= x_fit;
                box_li[i][3] *= y_fit;
            }
        }
        draw_box(-1);
    };


    // マウスダウンイベントのリスナーを追加
    canvas.addEventListener("mousedown", (e) => {
        auto_fit();
        isDrawing = true;
        startX = e.clientX - canvas.getBoundingClientRect().left;
        startY = e.clientY - canvas.getBoundingClientRect().top;
    });

    // マウスムーブイベントのリスナーを追加
    canvas.addEventListener("mousemove", (e) => {
        if (!isDrawing) return;

        const x = e.clientX - canvas.getBoundingClientRect().left;
        const y = e.clientY - canvas.getBoundingClientRect().top;

        width = x - startX;
        height = y - startY;

        draw_box(-1); // バウンディングボックスの描画

        // 矩形を青い線で描画
        ctx.strokeStyle = "blue";
        ctx.lineWidth = 2;
        ctx.strokeRect(startX, startY, width, height);
    });

    function submit_check(fin) {
        if (fin) submit.disabled = false;
        else submit.disabled = true;
    }

    function finish_check(index=-1) {
        finish.checked = true;
        for (let i = 0; i < set.length; i++) {
            if (i != index && !check[i].checked) {
                finish.checked = false;
            }
        }
        submit_check(finish.checked);
    }

    // マウスアップイベントのリスナーを追加
    canvas.addEventListener("mouseup", () => {
        isDrawing = false;

        // 描画した矩形の座標を表示
        x_min = startX;
        x_max = startX + width;
        if (width < 0) {
            x_min += width;
            x_max -= width;
        }

        y_min = startY;
        y_max = startY + height;
        if (height < 0) {
            y_min += height;
            y_max -= height;
        }

        for (let i = 0; i < set.length; i++) {
            if (set[i].checked) {
                box_li[i] = [x_min, y_min, x_max, y_max, 1];

                document.getElementById(`id_form-${i}-result_class`).value = 1;
                auto_set_box(i);

                check[i].disabled = false;
                check[i].checked = true;
                box_in[i].disabled = false;
                box_in[i].checked = true;
                checked[i].innerText = "チェック済み";

                draw_box(i);
            }
            console.log(box_li[i]);
        }
        finish_check();

        

        box.innerHTML
            = (x_min).toFixed() + "px, "
            + (y_min).toFixed() + "px, "
            + (x_max).toFixed() + "px, "
            + (y_max).toFixed() + "px";
    });

    // マウスアウトイベントのリスナーを追加
    canvas.addEventListener("mouseout", () => {
        isDrawing = false;
    });

    function out_box(order) {
        for (let i = 0; i < set.length; i++) {
            if (i == order) set[i].checked = true;
            else set[i].checked = false;
        }
        draw_box(order); // バウンディングボックスの描画
    };


    // 選択したアイテムの座標を確定処理
    function check_box(i) {
        if (check[i].checked) {
            // box_li[i] = [0,0,0,0,0];
            // check[i].checked = false;
            checked[i].innerText = "チェック";
            // box_in[i].checked = false;
            // if (create == 0) document.getElementById(`id_form-${i}-result_class`).value = 0;
            // document.getElementById(`id_form-${i}-box_x_min`).value = null;
            // document.getElementById(`id_form-${i}-box_y_min`).value = null;
            // document.getElementById(`id_form-${i}-box_x_max`).value = null;
            // document.getElementById(`id_form-${i}-box_y_max`).value = null;
            finish.checked = false;
            submit.disabled = true;
            // out_box(i);
        } else {
            // if (create == 0) document.getElementById(`id_form-${i}-result_class`).value = 1;
            // box_li[i][4] = 1;
            checked[i].innerText = "チェック済み";
            auto_set_box(i);
            finish_check(i);
        }
        out_box(i);
    };

    // 選択したアイテムの座標を削除
    function del_box(i) {
        if (box_in[i].checked) {

            box_li[i] = [0,0,0,0,0];

            if (create == 0) document.getElementById(`id_form-${i}-result_class`).value = 0;
            document.getElementById(`id_form-${i}-box_x_min`).value = null;
            document.getElementById(`id_form-${i}-box_y_min`).value = null;
            document.getElementById(`id_form-${i}-box_x_max`).value = null;
            document.getElementById(`id_form-${i}-box_y_max`).value = null;
            
            check[i].disabled = true;
            check[i].checked = false;
            checked[i].innerText = "チェック";
            box_in[i].disabled = true;
            box_in[i].checked = false;
            finish.checked = false;
            submit.disabled = true;
        }
        out_box(i);
    };
    
</script>
{% endblock %}
