{% extends 'base.html' %}
{% load static %}

{% block title %}日記作成 | Private Diary{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}
<div class="container my-5">
    <div class="row">
        <form method="POST" enctype='multipart/form-data' id="item-form">
            {% csrf_token %}
            {{ form.management_form }}
            <div class="roll">
                <table class="table" id="item-table">
                    {{ form.as_table }}
                </table>
            </div>
            <hr>
            <button class="btn btn-primary" type="button" id="add-item">アイテム追加</button>
            <button class="btn btn-primary" type="submit">作成</button>
        </form>
    </div>
</div>

{% endblock %}



