body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top: 3rem;
    margin-bottom: -1rem;
}

.roll {
    overflow:auto;
    width: 100%;
    height: 300px; 
    padding:5px;
    border:2px dotted #000000;
    color:#e8e8e8;
    line-height:1.5em;
}