{% extends 'base.html' %}
{% load static %}

{% block title %}管理項目削除確認 | ToolKeeper{% endblock %}

{% block contents %}
<section class="py-5 px-4 px-sm-0">
    <div class="container my-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-3">
            <div class="text-center mb-5">
                <h2 class="mb-5">管理項目を削除しますか？</h2>
                <p class="lead fw-normal text-muted text-center mb-3" style="font-size: 15px;"><u><font color="#99CC33">{{ asset.asset_name }}</font></u>を削除してもよろしいですか？</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mx-2" name="confirm_delete">削除する</button>
                    <button type="submit" class="btn btn-secondary mx-2" name="cancel_delete">キャンセル</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}