{% extends 'base.html' %}

{% load static %}

{% block title %}管理項目一覧 | ToolKeeper{% endblock %}

{% block active_asset_list %}active{% endblock %}


{% block contents %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3">
        <div class="row row-cols-1 row-cols-md-2 justify-content-center justify-content-md-between d-flex mb-4">
            <h2 class="col w-auto mb-4 my-md-auto">管理項目一覧</h2>
            <div class="col row justify-content-center w-auto mx-auto mx-md-0 ms-md-auto">
                <button class="col-auto learn-more my-2">
                    <span class="circle" aria-hidden="true">
                      <span class="icon arrow"></span>
                    </span>
                    <span class="col-auto button-text ps-2">
                        <a class="nav-link" href="{% url 'toolkeeper_app:asset_create' %}">新規作成</a>
                    </span>
                </button>
                <button class="col-auto learn-more my-2">
                    <span class="circle" aria-hidden="true">
                      <span class="icon arrow"></span>
                    </span>
                    <span class="button-text ps-2">
                        <a class="nav-link" href="{% url 'toolkeeper_app:history_list' %}">履歴一覧</a>
                    </span>
                </button>
            </div>
        </div>
        <form method="get">
            <div class="row gx-6 gx-lg-5 row-cols-1 row-cols-md-2 justify-content-between">
                <div class="col col-md-6 col-lg-8">{{ group_filter_form.as_p }}</div>
                <div class="col col-md-6 col-lg-4 text-md-center my-md-4">
                    <button class="btn btn-3 px-5" type="submit">絞り込み</button>
                </div>
            </div>
            
        </form>

        <hr>
        
        <div class="row row-cols-2 g-0 my-tab-bar">
            <label for="tab1" class="col">
                <button id="tab1" class="w-100 my-tab-link" type="button">管理項目</button>
            </label>

            <label for="tab2" class="col">
                <button id="tab2" class="w-100 my-tab-link" type="button">
                    {% if latest_result_class_zero_assets %}
                    <i class="d-inline-block my-auto bi bi-exclamation-circle text-danger"></i>
                    {% endif %}
                    <span class="d-inline-block px-1">異常のある管理項目</span>
                </button>
            </label>
        </div>
        
        <div class="mt-4">
            <div id="tab1_body">{% include 'asset_list_tab.html' %}</div>
            <div id="tab2_body">{% include 'asset_list_danger_tab.html' %}</div>
        </div>

    </div>
</section>
{% endblock %}

{% block js %}
<script>
    // フォームが「すべてのグループ」を選択中である場合、選択状態にする
    var groupFilterForm = document.querySelector('#id_group');
    if (groupFilterForm.value === 'all') {
        groupFilterForm.selectedIndex = 0;
    }
</script>

<script>
    const tab1 = document.getElementById("tab1");
    const tab2 = document.getElementById("tab2");

    const tab1_color = document.getElementById("tab1_color");
    const tab2_color = document.getElementById("tab2_color");
    const tab_color_on = 212529;
    const tab_color_off = 666666;

    tab1.style.backgroundColor = tab_color_on;
    tab2.style.backgroundColor = tab_color_off;

    const tab_body_on = "block";
    const tab_body_off = "none";
    const tab1_body = document.getElementById("tab1_body");
    const tab2_body = document.getElementById("tab2_body");

    tab1_body.style.display = tab_body_on;
    tab2_body.style.display = tab_body_off;

    let tab1_active = true;


    tab1.onclick = () => {
        if (tab1_active) return;
        tab1_active = true;
        console.log("tab1_active: "+tab1_active);

        tab1.style.backgroundColor = tab_color_on;
        tab2.style.backgroundColor = tab_color_off;

        tab1_body.style.display = tab_body_on;
        tab2_body.style.display = tab_body_off;
    };

    tab2.onclick = () => {
        if (!tab1_active) return;
        tab1_active = false;
        console.log("tab1_active: "+tab1_active);

        tab1.style.backgroundColor = tab_color_off;
        tab2.style.backgroundColor = tab_color_on;

        tab1_body.style.display = tab_body_off;
        tab2_body.style.display = tab_body_on;
    };


</script>
{% endblock %}