{% if image_list %}
    <p class="d-grid lead fw-normal text-muted text-center mb-3" style="font-size: 15px;">
        項目をクリックすると詳細へ移ります
    </p>
{% endif %}

<div class="row gx-6 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3">
{% for image in page_obj %}
    <div class="col mb-5">
        <div class="card">
            <a class="btn" href="{% url 'toolkeeper_app:asset_detail' image.asset.id %}">
                <!--badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.8rem; font-size: 15px;">{{ image.asset.group.group_name }}</div>
                <!-- Product image-->
                {% if image.image %}
                    <img class="card-img-top" src="{{ image.image.url }}" alt="..." />
                {% endif %}
                <!-- Product details-->
                <div class="card-body px-2">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ image.asset.asset_name }}</h5>
                        <!-- Product reviews-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <!--何か入れたければ入れる-->
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% empty %}
    <p class="pt-3">管理項目がありません</p>
{% endfor %}
</div>

<!-- ページネーションリンクの表示 -->
{% if page_obj.paginator.count > 0 %}
    <div class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1&group={{ request.GET.group }}">最初</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&group={{ request.GET.group }}">前へ</a></li>
            {% endif %}
            <!-- ページ番号のセレクトボックス -->
            <li class="page-item">
                <select class="form-select" onchange="window.location.href = '?page=' + this.value + '&group=' + '{{ request.GET.group }}';">
                    {% for page_num in page_obj.paginator.page_range %}
                        <option value="{{ page_num }}" {% if page_num == page_obj.number %}selected{% endif %}>{{ page_num }}</option>
                    {% endfor %}
                </select>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&group={{ request.GET.group }}">次へ</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&group={{ request.GET.group }}">最後</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}