<script>// キャンバスとコンテキストを取得
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");
    const image = document.getElementById("image");

    const check = document.getElementsByName("check");
    const checked = document.getElementsByName("checked");
    const set = document.getElementsByName("set");
    const box_in = document.getElementsByName("box");
    const finish = document.getElementById("finish");
    const submit = document.getElementById("submit");
    const box_list = document.getElementById("box_list");
    const create = document.getElementById("create").innerText;

    const check_list = document.getElementById("check_list");
    const switch_width = document.getElementById("switch_width");

    const box_x_min = Number(document.getElementById("box_x_min").innerText);
    const box_y_min = Number(document.getElementById("box_y_min").innerText);
    const box_x_max = Number(document.getElementById("box_x_max").innerText);
    const box_y_max = Number(document.getElementById("box_y_max").innerText);
    
    const item_box = Number(document.getElementById("item_box").innerText);
    const model_check = document.getElementById("model_check").innerText;

    const threshold_conf = Number(document.getElementById("threshold_conf").innerText);
    
    const preview = document.getElementById("preview");
    const all_check = document.getElementById("all_check");

    const confirmation = document.getElementById("confirmation");

    // 描画状態を管理するフラグと座標を初期化
    let isDrawing = false;
    let startX, startY, width, height;

    const x_fix = box_x_max - box_x_min;
    const y_fix = box_y_max - box_y_min;

    canvas.width = x_fix;
    canvas.height = y_fix;

    let x_fit = canvas.width / x_fix;
    let y_fit = canvas.height / y_fix;

    let x_min_fit = box_x_min;
    let y_min_fit = box_y_min;


    // バウンディングボックスの座標を初期化
    let item_name = [];
    let x_min, x_max, y_min, y_max;
    let box_li = [];
    for (let i = 0; i < set.length; i++) {
        item_name[i] = document.getElementById(`item_${i}_name`).innerText;

        if (item_box >= 2 && document.getElementById(`item_${i+1}_x_min`).innerText != "None") {
            box_li[i] = [
                Number(document.getElementById(`item_${i+1}_x_min`).innerText) - box_x_min,
                Number(document.getElementById(`item_${i+1}_y_min`).innerText) - box_y_min,
                Number(document.getElementById(`item_${i+1}_x_max`).innerText) - box_x_min,
                Number(document.getElementById(`item_${i+1}_y_max`).innerText) - box_y_min,
                Number(document.getElementById(`item_${i+1}_conf`).innerText),
            ];

            document.getElementById(`id_form-${i}-result_class`).value = 0;

            if (model_check == "False") box_li[i][4] = threshold_conf;

            if (box_li[i][4] > threshold_conf) {
                document.getElementById(`id_form-${i}-result_class`).value = 2;
            } else if (box_li[i][4] > 0) {
                document.getElementById(`id_form-${i}-result_class`).value = 1;
            }
            check[i].disabled = false;
            box_in[i].disabled = false;
            box_in[i].checked = true;
        } else {
            box_li[i] = [0,0,0,0,0];
            document.getElementById(`id_form-${i}-result_class`).value = 0;
        }
    }
    console.log(item_name);


    function auto_set_box(i) {
        if (!box_li[i][4]) return;
        let w = x_fix / canvas.width;
        let h = y_fix / canvas.height;
        
        document.getElementById(`id_form-${i}-box_x_min`).value = (box_li[i][0] * w) + box_x_min;
        document.getElementById(`id_form-${i}-box_y_min`).value = (box_li[i][1] * h) + box_y_min;
        document.getElementById(`id_form-${i}-box_x_max`).value = (box_li[i][2] * w) + box_x_min;
        document.getElementById(`id_form-${i}-box_y_max`).value = (box_li[i][3] * h) + box_y_min;

        box_in[i].disabled = false;
        box_in[i].checked = true;
    }

    function switch_scroll() {
        if (window.innerWidth >= 768) {
            var max_h = canvas.height - all_check.getBoundingClientRect().height - 16;
            switch_width.style.width = "auto";
            check_list.style.marginTop = "auto";
            // for (let i = 0; i < set.length; i++) {
            //     document.getElementById(`ctrl_${i}`).style.margin = "auto";
            // }
        }
        else {
            var max_h = 200;
            switch_width.style.width = 210 * set.length;
            check_list.style.marginTop = "30px";
            // for (let i = 0; i < set.length; i++) {
            //     document.getElementById(`ctrl_${i}`).style.margin = "auto";
            // }
        }
        check_list.style.height = max_h;

        // for (let i = 0; i < set.length; i++) {
        //     console.log(window.innerWidth);
        //     console.log(document.getElementById(`ctrl_${i}`).style.width);
        // }
    };

    function auto_fit() {
        if (canvas.width != preview.getBoundingClientRect().width.toFixed()) {
            console.log("tttt");
            
            console.log(`preview.width:  ${preview.getBoundingClientRect().width} px`);
            console.log(`preview.height: ${preview.getBoundingClientRect().height} px`);
            console.log(`canvas.width:  ${canvas.width} px`);
            console.log(`canvas.height: ${canvas.height} px`);
            console.log(`x_min_fit: ${x_min_fit.toFixed()} px`);
            console.log(`y_min_fit: ${y_min_fit.toFixed()} px`);
            console.log(`x_max_fit: ${(x_min_fit + canvas.width).toFixed()} px`);
            console.log(`y_max_fit: ${(y_min_fit + canvas.height).toFixed()} px`);
            console.log(`width:  ${(preview.getBoundingClientRect().width / canvas.width)} px`);
            console.log(`height: ${(preview.getBoundingClientRect().height / canvas.height)} px`);

            for (let i = 0; i < set.length; i++) {
                // console.log("b "+box_li[i]);
                // box_li[i][0] = ((box_li[i][0]) * (preview.getBoundingClientRect().width / canvas.width))-50;
                // box_li[i][1] = ((box_li[i][1]) * (preview.getBoundingClientRect().height / canvas.height))-50;
                // box_li[i][2] = ((box_li[i][2] + box_x_min) * (preview.getBoundingClientRect().width / canvas.width))-50;
                // box_li[i][3] = ((box_li[i][3] + box_y_min) * (preview.getBoundingClientRect().height / canvas.height))-50;
                box_li[i][0] *= (preview.getBoundingClientRect().width / canvas.width);
                box_li[i][1] *= (preview.getBoundingClientRect().height / canvas.height);
                box_li[i][2] *= (preview.getBoundingClientRect().width / canvas.width);
                box_li[i][3] *= (preview.getBoundingClientRect().height / canvas.height);
                console.log("a "+box_li[i]);
            }

            canvas.width = preview.getBoundingClientRect().width.toFixed();
            canvas.height = canvas.width * (y_fix / x_fix);

            x_fit = canvas.width / x_fix;
            y_fit = canvas.height / y_fix;

            x_min_fit = box_x_min * x_fit;
            y_min_fit = box_y_min * y_fit;
            
            // check_list.style = `overflow-y: scroll; height: ${canvas.height - all_check.getBoundingClientRect().height - 16};`;
            ctx.drawImage(image, box_x_min, box_y_min, x_fix, y_fix, x_min_fit, y_min_fit, canvas.width, canvas.height,);
        }

        switch_scroll();

        console.log(`preview.width:  ${preview.getBoundingClientRect().width} px`);
        console.log(`preview.height: ${preview.getBoundingClientRect().height} px`);
        console.log(`canvas.width:  ${canvas.width} px`);
        console.log(`canvas.height: ${canvas.height} px`);
        console.log(`x_min_fit: ${x_min_fit.toFixed()} px`);
        console.log(`y_min_fit: ${y_min_fit.toFixed()} px`);
        console.log(`x_max_fit: ${(x_min_fit + canvas.width).toFixed()} px`);
        console.log(`y_max_fit: ${(y_min_fit + canvas.height).toFixed()} px`);
        
    };


    function set_confirmation() {
        if (isDrawing) return;
        confirmation.innerHTML = null;
        for (let i = 0; i < set.length; i++) {
            if (checked[i].innerText != "チェック済み") {
                if (confirmation.innerHTML) confirmation.innerHTML = `${confirmation.innerHTML}、`;
                var tag = document.createElement('span');
                if (box_li[i][4] > threshold_conf) tag.setAttribute('style', 'color: blue;');
                else if (box_li[i][4] > 0) tag.setAttribute('style', 'color: orange;');
                else tag.setAttribute('style', 'color: red;');
                tag.innerText = `${item_name[i]}`;
                confirmation.appendChild(tag);
            }
        }
        if (confirmation.innerHTML) confirmation.innerHTML = `${confirmation.innerHTML} がチェックされていません。`;
        else confirmation.innerHTML = '<span style="color: rgb(0, 220, 50)">すべてのアイテム</span> がチェック済みです。';
    };

    
    // 選択済みのバウンディングボックスを描画
    function draw_box(order) {

        // キャンバスをクリアして画像を再描画
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(image, box_x_min, box_y_min, x_fix, y_fix, 0, 0, canvas.width, canvas.height,);
        
        for (let i = 0; i < set.length; i++) {
            if (i == order) ctx.lineWidth = 2;
            else ctx.lineWidth = 1;
            
            if (box_li[i][4] > threshold_conf) ctx.strokeStyle = "blue"; // 青い線で描画
            else if (box_li[i][4] > 0) ctx.strokeStyle = "orange"; // オレンジ色の線で描画
            else ctx.strokeStyle = "red"; // 赤い線で描画

            if (checked[i].innerText == "チェック済み") {
                 // 緑色の線で描画
                ctx.strokeStyle = `rgb(
                    0,
                    220,
                    50
                )`;
                if (order == -2) ctx.lineWidth = 2;
            }

            ctx.strokeRect(
                box_li[i][0],
                box_li[i][1],
                box_li[i][2] - box_li[i][0],
                box_li[i][3] - box_li[i][1],
            );
        }
        set_confirmation();
    };

    // 画像の読み込みが完了したらキャンバスに描画
    image.onload = () => {

        const x_fix = box_x_max - box_x_min;
        const y_fix = box_y_max - box_y_min;

        canvas.width = preview.getBoundingClientRect().width.toFixed();
        canvas.height = canvas.width * (y_fix / x_fix);

        let x_fit = canvas.width / x_fix;
        let y_fit = canvas.height / y_fix;

        let x_min_fit = box_x_min * x_fit;
        let y_min_fit = box_y_min * y_fit;

        // check_list.style = `overflow-y: scroll; height: ${canvas.height - all_check.getBoundingClientRect().height - 16};`;

        for (let i = 0; i < set.length; i++) {
            if (item_box >= 2 && document.getElementById(`item_${i+1}_x_min`).innerText != "None") {
                console.log(box_li[i]);

                box_li[i][0] *= x_fit;
                box_li[i][1] *= y_fit;
                box_li[i][2] *= x_fit;
                box_li[i][3] *= y_fit;
            }
        }
        switch_scroll();

        draw_box(-1);
    };


    // マウスダウンイベントのリスナーを追加
    canvas.addEventListener("mousedown", (e) => {
        auto_fit();
        isDrawing = true;
        startX = e.clientX - canvas.getBoundingClientRect().left;
        startY = e.clientY - canvas.getBoundingClientRect().top;
    });

    // マウスムーブイベントのリスナーを追加
    canvas.addEventListener("mousemove", (e) => {
        if (!isDrawing) return;

        const x = e.clientX - canvas.getBoundingClientRect().left;
        const y = e.clientY - canvas.getBoundingClientRect().top;

        width = x - startX;
        height = y - startY;

        draw_box(-1); // バウンディングボックスの描画

        // 矩形を青い線で描画
        ctx.strokeStyle = "blue";
        ctx.lineWidth = 2;
        ctx.strokeRect(startX, startY, width, height);
    });

    function submit_check(fin) {
        if (fin) {
            submit.disabled = false;
            draw_box(-2);
        } else {
            submit.disabled = true;
        }
    }

    function finish_check(index=-1) {
        finish.checked = true;
        for (let i = 0; i < set.length; i++) {
            if (i != index && !check[i].checked) {
                finish.checked = false;
            }
        }
        submit_check(finish.checked);
    }

    // マウスアップイベントのリスナーを追加
    canvas.addEventListener("mouseup", () => {
        isDrawing = false;

        // 描画した矩形の座標を表示
        x_min = startX;
        x_max = startX + width;
        if (width < 0) {
            x_min += width;
            x_max -= width;
        }

        y_min = startY;
        y_max = startY + height;
        if (height < 0) {
            y_min += height;
            y_max -= height;
        }

        for (let i = 0; i < set.length; i++) {
            if (set[i].checked) {
                box_li[i] = [x_min, y_min, x_max, y_max, 1];

                document.getElementById(`id_form-${i}-result_class`).value = 1;
                auto_set_box(i);

                check[i].disabled = false;
                check[i].checked = true;
                box_in[i].disabled = false;
                box_in[i].checked = true;
                checked[i].innerText = "チェック済み";

                draw_box(i);
            }
            console.log(box_li[i]);
        }
        finish_check();
    });

    // マウスアウトイベントのリスナーを追加
    canvas.addEventListener("mouseout", () => {
        isDrawing = false;
    });

    function out_box(order) {
        for (let i = 0; i < set.length; i++) {
            if (i == order) set[i].checked = true;
            else set[i].checked = false;
        }
        draw_box(order); // バウンディングボックスの描画
    };


    // 選択したアイテムの座標を確定処理
    function check_box(i) {
        if (check[i].checked) {
            document.getElementById(`id_form-${i}-box_x_min`).value = null;
            document.getElementById(`id_form-${i}-box_y_min`).value = null;
            document.getElementById(`id_form-${i}-box_x_max`).value = null;
            document.getElementById(`id_form-${i}-box_y_max`).value = null;
            
            checked[i].innerText = "チェック";
            finish.checked = false;
            submit.disabled = true;
        } else {
            checked[i].innerText = "チェック済み";

            box_li[i][4] = 1;
            document.getElementById(`id_form-${i}-result_class`).value = 1;

            auto_set_box(i);
            finish_check(i);
        }
        out_box(i);
    };

    // 選択したアイテムの座標を削除
    function del_box(i) {
        if (box_in[i].checked) {
            box_li[i] = [0,0,0,0,0];
            document.getElementById(`id_form-${i}-result_class`).value = 0;
            document.getElementById(`id_form-${i}-box_x_min`).value = null;
            document.getElementById(`id_form-${i}-box_y_min`).value = null;
            document.getElementById(`id_form-${i}-box_x_max`).value = null;
            document.getElementById(`id_form-${i}-box_y_max`).value = null;
            
            check[i].disabled = true;
            check[i].checked = false;
            checked[i].innerText = "チェック";
            box_in[i].disabled = true;
            box_in[i].checked = false;
            finish.checked = false;
            submit.disabled = true;
        }
        out_box(i);
    };

    all_check.onclick = () => {
        for (let i = 0; i < set.length; i++) {
            if (box_li[i][4] > 0) {
                auto_set_box(i);
                check[i].checked = true;
                checked[i].innerText = "チェック済み";
            }
        }
        draw_box(-2);
        finish_check();
    };

    submit.onclick = () => {
        for (let i = 0; i < set.length; i++) {
            if (checked[i].innerText != "チェック済み") {
                document.getElementById(`id_form-${i}-result_class`).value = 0;
            }
        }
    };

    
    const width_xxl = 1400;
    const width_xl = 1200;
    const width_lg = 992;
    const width_md = 768;
    const width_sm = 576;

    let width_class = window.innerWidth;

    // ウィンドウのリサイズ時にスクロール状態を切り替える
    window.onresize = () => {
        if (width_class != width_xxl && window.innerWidth >= width_xxl) width_class = width_xxl;
        else if (width_class != width_xl && window.innerWidth < width_xxl && window.innerWidth >= width_xl) width_class = width_xl;
        else if (width_class != width_lg && window.innerWidth < width_xl && window.innerWidth >= width_lg) width_class = width_lg;
        else if (width_class != width_md && window.innerWidth < width_lg && window.innerWidth >= width_md) width_class = width_md;
        else if (width_class != width_sm && window.innerWidth < width_md) width_class = width_sm;
        else return;

        auto_fit();
        draw_box();
    };
</script>
