{% extends 'base.html' %}

{% block title %}グループ詳細 | ToolKeeper{% endblock %}

{% block active_group_list %}active{% endblock %}

{% block contents %}

<!-- Page content-->
<section class="py-5">
    <div class="container px-3 px-md-5">
        <div class="bg-light rounded-3 py-5 px-5 mb-3">
            <div class="row">
                <div class="d-grid mb-5">
                    <h2>
                        <u>{{ group.group_name }}
                            <span class="d-inline-block fs-4 mt-2">
                                （ホスト：{% if group.user == request.user %}あなた{% else %}{{ group.user.username }}{% endif %}）
                            </span>
                        </u>
                    </h2>
                    <p class="pt-2">
                        <strong class="row px-3"><span class="col-auto px-0">グループID：</span>
                            {% if group.private %}
                            <span class="col-auto text-muted">個人利用グループのため、IDは表示されません</span>
                            {% elif group.user == request.user %}
                            <span class="col-auto">
                                <u class="w-auto" id="text">{{ group.group_id }}</u>
                                <button class="px-2" id="copybutton">
                                    <svg id="copyfont" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6ZM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1H2Z"/>
                                    </svg>
                                </button>
                            </span>
                            {% else %}
                            <span class="text-muted col-auto">ホストではないため、IDは表示されません</span>
                            {% endif %}
                        </strong>
                    </p>
                </div>
                <div class="d-grid d-sm-block col-sm-6 mb-5 mb-sm-auto">
                    <h5 class="mb-2">メンバー [ {{ members_count }}名 ]</h5>
                    <hr>
                    <div class="scrollable-detail px-2 px-sm-0">
                        <ul>
                            {% for member in group.groupmember_set.all %}
                                <li><h5>
                                    {% if member.user == group.user and member.user == request.user %}<u><font color="#99CC33">{{ member.user.username }}</font>（ホスト）</u>
                                    {% elif member.user == group.user %}<u>{{ member.user.username }}（ホスト）</u>
                                    {% elif member.user == request.user %}<font color="#99CC33">{{ member.user.username }}</font>
                                    {% else %} {{ member.user.username }} {% endif %}
                                </h5></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="d-grid d-sm-block col-sm">
                    <h5 class="mb-2">管理項目一覧</h5>
                    <hr>
                    <div class="scrollable-detail px-2 px-sm-0">
                        {% if assets %}
                        <ul>
                            {% for asset in assets %}
                            <li><h5>{{ asset.asset_name }}</h5></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <h5 class="px-2">このグループには管理項目がありません。</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if not group.private %}
        <div class="row row-cols-auto row-cols-sm-2 justify-content-center justify-content-md-start">
            {% if group.user == request.user %}
                <form method="post" class="col col-md-3 mb-3">
                    {% csrf_token %}
                    <button type="submit" class="w-100 px-5 px-sm-0 btn btn-lg btn-danger" name="delete_group">グループ削除</button>
                </form>
                {% if members_count > 1 %}
                <div class="col col-md-3 mb-3">
                    <button class="w-100 px-5 px-sm-0 btn btn-lg btn-success">
                        <a class="nav-link" href="{% url 'toolkeeper_app:group_host' group.id %}">ホストを変更</a>
                    </button>
                </div>
                {% endif %}
            {% else %}
                <div class="col col-sm-6 col-md-3 mb-3">
                    <button class="w-100 btn btn-lg btn-danger mb-3">
                        <a class="nav-link" href="{% url 'toolkeeper_app:group_leave' group.id %}">グループを退会</a>
                    </button>
                </div>
            {% endif %}            
        </div>
        {% endif %}
        <div class="d-grid">
            <button class="btn btn-lg btn-2 d-grid">
                <a class="nav-link" href="{% url 'toolkeeper_app:group_list' %}">グループ一覧に戻る</a>
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    const btn = document.getElementById("copybutton"); // button要素取得
    const txt = document.getElementById("text").textContent; // テキスト取得

    btn.addEventListener("click", () => { // ボタンをクリックしたら
        navigator.clipboard
            .writeText(txt) // テキストをクリップボードに書き込み
            .then(
            (success) => console.log('テキストのコピーに成功'),
            (error) => console.log('テキストのコピーに失敗')
            );

        btn.innerHTML = '<i class="bi bi-check2"></i>'; // ボタンの文字変更
        setTimeout(() => (btn.innerHTML = 
            '<svg id="copyfont" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6ZM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1H2Z"/></svg>'
        ), 1500); // ボタンの文字を戻す
    });

</script>
{% endblock %}
