{% extends 'base.html' %}
{% load static %}

{% block title %}アイテム確認 | ToolKeeper{% endblock %}

{% block active_asset_list %}active{% endblock %}

{% block contents %}
<div class="container my-5">
    <div class="row justify-content-around mt-4" style="text-align: center;">
        <h3 class="col-12 col-md-8" style="text-align: center; margin-top: 0.5rem;">登録したアイテムを<span class="d-inline-block d-md-inline">全て囲ってください。</span></h3>
        <button class="col-6 col-md-2 btn btn-3 my-2 my-md-auto" type="button" id="load">画像読込</button>
    </div>
    
    <hr>

    <div class="row justify-content-around">
        <div class="col-11 col-md-8" style="position: relative;">
            <div id="preview" style="width: 100%; height: auto;">
                <canvas id="canvas" style="width: 100%; height: auto;"></canvas>
                <img id="image" src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" style="display: none;"/>
                <span id="create" style="display: none;">{{ create }}</span>
                <!-- <span id="model_check" style="display: none;">{{ result.model_check }}</span> -->
                {% for result in results %}
                    {% if forloop.first %}
                        <span id="item_box" style="display: none;">{{ results|length }}</span>
                        <span id="box_x_min" style="display: none;">{{ result.box_x_min }}</span>
                        <span id="box_y_min" style="display: none;">{{ result.box_y_min }}</span>
                        <span id="box_x_max" style="display: none;">{{ result.box_x_max }}</span>
                        <span id="box_y_max" style="display: none;">{{ result.box_y_max }}</span>
                        <span id="model_check" style="display: none;">{{ result.model_check }}</span>
                    {% else %}
                        <span id="item_{{ forloop.counter0 }}_x_min" style="display: none;">{{ result.box_x_min }}</span>
                        <span id="item_{{ forloop.counter0 }}_y_min" style="display: none;">{{ result.box_y_min }}</span>
                        <span id="item_{{ forloop.counter0 }}_x_max" style="display: none;">{{ result.box_x_max }}</span>
                        <span id="item_{{ forloop.counter0 }}_y_max" style="display: none;">{{ result.box_y_max }}</span>
                        <span id="item_{{ forloop.counter0 }}_conf" style="display: none;">{{ result.conf }}</span>
                    {% endif %}
                {% endfor %}
                <span id="threshold_conf" style="display: none;">{{ threshold_conf }}</span>
                <span id="warning_conf" style="display: none;">{{ warning_conf }}</span>
            </div>
        </div>
        <div class="col-11 col-md-4">
            <hr class="d-block d-md-none">
            <div class="position-relative" id="check_list" style="overflow: auto;">
                <div class="position-absolute d-flex d-md-block" id="switch_width" style="height: 100%;">
                    {% if create == 0 %}
                        {% include 'common_history_add.html' %}
                    {% else %}
                        {% include 'common_history_create.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    {% if create == 0 %}
    <div id="check_ctrl">
        <div class="d-flex justify-content-between">
            <div class="">0%</div>
            <div class="">10%</div>
            <div class="">20%</div>
            <div class="">30%</div>
            <div class="">40%</div>
            <div class="">50%</div>
            <div class="">60%</div>
            <div class="">70%</div>
            <div class="">80%</div>
            <div class="">90%</div>
            <div class="">100%</div>
        </div>
        <div class="row">
            <label class="col-auto" for="slide_down">
                <button class="btn my-btn-common my-btn-green" id="slide_down">＜</button>
            </label>
            <label class="col" for="all_check">
                <input class="h-100 w-100" type="range" id="all_check" min="0" max="100" step="10">
            </label>
            <label class="col-auto" for="slide_up">
                <button class="btn my-btn-common my-btn-green" id="slide_up">＞</button>
            </label>

            <!-- <div class="col mt-0 mt-md-3 mt-lg-0"><button class="btn my-btn-common my-check-green w-100 px-2" type="button" id="all_check_out">一括チェック解除</button></div> -->
        </div>
    </div>
    <hr>
    {% endif %}

    <div class="h5 text-sm-center px-5" id="confirmation"></div>
    <div class="d-flex w-100 justify-content-center">
        <label class="w-auto my-4" for="finish">
            <input class="form-check-input" type="checkbox" id="finish" onclick="submit_check(finish.checked);"> すべてのアイテムをチェックしました。
        </label>
    </div>
    
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <button class="btn btn-2 w-100" type="submit" id="submit" disabled>終了する</button>
        <table class="table">
            {{ result_add_form.as_table }}
        </table>
    </form>
</div>
{% endblock %}


{% block js %}

<script>const data_json = JSON.parse('{{ data|safe }}');</script>

{% if create == 0 %}
<script src="{% static 'js/history_add_check.js' %}"></script>
{% else %}
<script src="{% static 'js/history_add_create.js' %}"></script>
{% endif %}

<!-- <script>
    const data = JSON.parse('{{ data|safe }}');
    fetch("/data")
    .then(response => response.json())
    .then(data => {
      console.log(data.model_check)  // [1, 2, 3]
    })
    
    console.log(data.model_check);
    console.log(data.item);
    console.log(data.box);
</script> -->
{% endblock %}
