{% extends 'base.html' %}
{% load static %}

{% block title %}アイテム確認 | ToolKeeper{% endblock %}

{% block active_asset_list %}active{% endblock %}

{% block contents %}
<div class="container my-5">
    <div class="row justify-content-around mt-4" style="text-align: center;">
        <h3 class="col-12 col-md-8" style="text-align: center; margin-top: 0.5rem;">登録したアイテムを<span class="d-inline-block d-md-inline">全て囲ってください。</span></h3>
        <button class="col-6 col-md-2 btn btn-3 my-2 my-md-auto" type="button" id="load">画像読込</button>
    </div>
    
    <hr>

    <div class="row g-0 position-relative {% if create == 1 %}justify-content-around{% else %}ms-2 ms-sm-2 ms-md-0{% endif %}">
        <div class="{% if create == 1 %}col-11{% else %}col-9 col-sm-10{% endif %} col-md-8 position-relative pe-0 pe-md-3">
            <div id="preview" style="width: 100%; height: auto;">
                <canvas id="canvas" style="width: 100%; height: auto;"></canvas>
                <img id="image" src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" style="display: none;"/>
                <span id="create" style="display: none;">{{ create }}</span>
                <!-- <span id="model_check" style="display: none;">{{ result.model_check }}</span> -->
                {% for result in results %}
                    {% if forloop.first %}
                        <span id="item_box" style="display: none;">{{ results|length }}</span>
                        <span id="box_x_min" style="display: none;">{{ result.box_x_min }}</span>
                        <span id="box_y_min" style="display: none;">{{ result.box_y_min }}</span>
                        <span id="box_x_max" style="display: none;">{{ result.box_x_max }}</span>
                        <span id="box_y_max" style="display: none;">{{ result.box_y_max }}</span>
                        <span id="model_check" style="display: none;">{{ result.model_check }}</span>
                    {% else %}
                        <span id="item_{{ forloop.counter0 }}_x_min" style="display: none;">{{ result.box_x_min }}</span>
                        <span id="item_{{ forloop.counter0 }}_y_min" style="display: none;">{{ result.box_y_min }}</span>
                        <span id="item_{{ forloop.counter0 }}_x_max" style="display: none;">{{ result.box_x_max }}</span>
                        <span id="item_{{ forloop.counter0 }}_y_max" style="display: none;">{{ result.box_y_max }}</span>
                        <span id="item_{{ forloop.counter0 }}_conf" style="display: none;">{{ result.conf }}</span>
                    {% endif %}
                {% endfor %}
                <!-- <span id="threshold_conf" style="display: none;">{{ threshold_conf }}</span> -->
                <!-- <span id="warning_conf" style="display: none;">{{ warning_conf }}</span> -->
            </div>
        </div>


        <div class="{% if create == 1 %}col-11{% else %}col-9 col-sm-10{% endif %} col-md-4">
            <hr class="d-block d-md-none">
            <div class="position-relative" id="check_list" style="overflow: auto;">
                <div class="position-absolute d-flex d-md-block" id="switch_width" style="height: 100%;">
                    {% if create == 0 %}
                        {% include 'common_history_add.html' %}
                    {% else %}
                        {% include 'common_history_create.html' %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if create == 0 %}
        <div class="d-none d-md-block">
            <hr>
        </div>

        <div class="col-2 col-sm-1 col-md offset-9 offset-sm-10 offset-md-0 ps-3 ps-md-0" id="check_ctrl">
            <div class="row h-100">
                <label class="col-auto mb-auto" for="slide_down">
                    <button class="btn my-btn-common my-check-green" id="slide_down">◀</button>
                </label>

                <div class="col" id="range_ctrl">
                    <input class="ms-2 ms-md-auto" type="range" id="all_check" min="0" max="10" step="1">

                    <div class="row row-cols-1 row-cols-md-auto g-0 justify-content-between w-100 ms-3 ms-md-auto" id="per_list">
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: red; font-weight: bold;">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">0%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: rgb(255, 150, 30);">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">10%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: rgb(255, 150, 30);">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">20%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: rgb(255, 150, 30);">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">30%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: rgb(255, 150, 30);">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">40%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: gold;">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">50%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: gold;">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">60%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: gold;">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">70%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: blue;">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">80%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative" type="button" name="range_per" style="color: blue;">
                            <span class="w-100 d-none d-md-inline">｜</span>
                            <span class="w-auto position-absolute" type="button" name="range_per">90%　</span>
                        </span>
                        <span class="col h-auto px-0 position-relative d-none d-md-inline" type="button" name="range_per" style="color: rgb(0, 220, 50);">
                            <span class="w-100 d-none d-md-inline">｜</span>
                        </span>
                    </div>
                    <span class="h-auto ms-3 mt-1 d-block d-md-none" type="button" name="range_per" style="color: rgb(0, 220, 50); font-weight: bold; width: 2rem;">解除</span>
                </div>

                <label class="col-auto mt-auto mt-md-0" for="slide_up">
                    <button class="btn my-btn-common my-check-green" id="slide_up">▶</button>
                </label>    
            </div>
        </div>
        {% endif %}
    </div>

    <hr>

    <div class="h5 text-sm-center px-5" id="confirmation"></div>
    <div class="d-flex w-100 justify-content-center">
        <label class="w-auto my-4" for="finish">
            <input class="form-check-input" type="checkbox" id="finish" onclick="submit_check(finish.checked);"> すべてのアイテムをチェックしました。
        </label>
    </div>
    
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <button class="btn btn-2 w-100" type="submit" id="submit" disabled>終了する</button>
        <table class="table">
            {{ result_add_form.as_table }}
        </table>
    </form>
</div>
{% endblock %}


{% block js %}

<script>const data_json = JSON.parse('{{ data|safe }}');</script>

{% if create == 0 %}
<script src="{% static 'js/history_add_check.js' %}"></script>
{% else %}
<script src="{% static 'js/history_add_create.js' %}"></script>
{% endif %}

<!-- <script>
    const data = JSON.parse('{{ data|safe }}');
    fetch("/data")
    .then(response => response.json())
    .then(data => {
      console.log(data.model_check)  // [1, 2, 3]
    })
    
    console.log(data.model_check);
    console.log(data.item);
    console.log(data.box);
</script> -->
{% endblock %}
