{% extends 'base.html' %}

{% load static %}

{% block title %}お問い合わせ | ToolKeeper{% endblock %}

{% block active_inquiry %}active{% endblock %}


{% block contents %}
<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">お問い合わせ</h1>
                <p class="lead fw-normal text-muted mb-0">お問い合わせは以下のフォームをご利用ください。</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form method="post" id="contactForm">
                        {% csrf_token %}
                        
                        {{ form.non_field_errors }}
                        
                        {% for field in form %}
                        <div class="form-floating mb-3">
                            {{ field }}
                            {{ field.errors }}
                            <label for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                        </div>
                        {% endfor %}

                        <div class="d-grid">
                            <button class="btn btn-3 btn-lg" id="submitButton" type="submit">送信</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>{% endblock %}
